<div class="container mt-3 p-3">

    {{#if products.length }}

    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Thumbnail</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img width="60" src={{this.thumbnail}} ></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>